@{
    ViewBag.Title = "Payment Canceled";
}

<div class="container my-5 text-center">
    <h1>Payment Canceled</h1>
    <p>@ViewBag.Message</p>
    <a href="/Cart" class="btn btn-secondary">Return to Cart</a>
</div>
