@model ETickets.Models.ViewModel.RoleVM

@{
    ViewData["Title"] = "Manage Roles";

    if (ViewBag.Success != null)
    {
        <script>
            toastr.success('@ViewBag.Success');
        </script>
    }
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Create Role</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Role" method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <div class="mb-3">
                    <label asp-for="RoleName" class="form-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="bi bi-plus-circle"></i> Create Role
                    </button>
                </div>
            </form>

            <div class="mt-4">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
